
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<!--Purpose & Author-->

<h2>Author: Oscar Mendez</h2>
<p>The purpose of this project is to complete an assignment based on the set of instructions given.</p>