@*
    This is a razor page comment
*@
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies</h1>


<!--Ordered list example-->
<center>
<h2>Hobbies (ordered list)</h2>
<ol>
    <li>Weight Lifting</li>
    <img src="~/weight-lifting.jpg" alt="Weight on a bar" width="400" height="300"/>
    <li>Listening to music</li>
    <img src="~/headphones.jpg" alt="Headphones" width="400" height="300"/>
    <li>Hiking</li>
    <img src="~/Hike.jpg" alt="Potato chip rock" width="400" height="300"/>
    <li>Cooking</li>
    <img src="~/Cooking.jpg" alt="Cutting board with vegetables" width="400" height="300" />
    <li>Reading</li>
    <img src="~/Reading.jpg" alt="Book with glasses" width="400" height="300" />
</ol>

<br />
<!--Unordered list Example-->
<h2>Interests (unordered list)</h2>
<ul>
    <li>Cars</li>
    <img src="~/RX-7.jpg" alt="Mazda FD RX-7" width="400" height="300" />
    <li>Coding</li>
    <img src="~/Coding.png" alt="HTML and CSS coding screen" width="400" height="300" />
    <li>Chess</li>
    <img src="~/Chess.jpg" alt="Chessboard" width="400" height="300" />
    <li>Drawing</li>
    <img src="~/Drawing.jpg" alt="Drawing of rose" width="400" height="300" />
    <li>Space</li>
    <img src="~/Space.jpg" alt="Image of galaxy" width="400" height="300" />
</ul>
</center>